[submodule "src/web/pdlLesterProductions"]
	path = src/web/pdlLesterProductions
	url = git@github.com:ProDataLab/pdlLesterProductions.git
[submodule "src/web/pdlWebsite"]
	path = src/web/pdlWebsite
	url = git@github.com:ProDataLab/pdlWebsite.git
[submodule "src/pdlCompiler"]
	path = src/pdlCompiler
	url = git@github.com:ProDataLab/pdlCompiler.git
[submodule "src/pdlWebScraper"]
	path = src/pdlWebScraper
	url = git@github.com:ProDataLab/pdlWebScraper.git
